<div class="alignCenter blockPadding">
  <img width="300" alt="Bitcube" src="../../assets/img/bitcubeLOGO.png">
  <h1 class="generalColor">Welcome to Bitcube's register page</h1>
  <hr width="65%">

  <form action="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 registerBlock">
          <label>* First name: </label>
          <br>
          <input [(ngModel)]="fname" name="fname"  id="fname" type="text" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" size="30" autocomplete="off" required
            placeholder="First name">
          <br>
          <label>* Last name: </label>
          <br>
          <input  [(ngModel)]="lname" name="lname" id="lname" type="text" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" size="30" autocomplete="off" required
            placeholder="Last name">
          <br>
          <label>* Email: </label>
          <br>
          <input [(ngModel)]="email" name="email" id="email" type="email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" size="30" required placeholder="Email Address">
          <div id="emailExist" class="alert alert-info"><strong>Info!</strong> This email already exists!
          </div>
          <br>
          <label>* Password: </label>
          <label class="info">&#9432;
            <span class="tooltiptext">Password must have at least 1 uppercase character, 1 lowercase character, 1 special character,1 number and must
              be at least 6 characters long</span>
          </label>
          <br>
          <input [(ngModel)]="passw" name="passw" id="passw" type="password" pattern="(?=.{6,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*[@#$%^&+=]).*$" size="30" required
            placeholder="Password">
          <br>
          <label>* Repeat Password: </label>
          <br>
          <input [(ngModel)]="passwRe" name="passwRe" id="passwRe" type="password" pattern="(?=.{6,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*[@#$%^&+=]).*$" size="30"
            required placeholder="Password">
        </div>
        <div class="col-lg-6 col-md-6 ">
          <img width="300" class="robot" alt="Robot" src="../../assets/img/robot.gif">
          <br>
          <input class="btn submitBtn" (click)="sumbitRegister()" type="submit" title="Click Here to Submit" value="Submit">
          <app-error-notify id="errorNotify"></app-error-notify>
        </div>
      </div>
      <div class="row">
        <div class="container signin">
          <p>Already have an account?
            <a routerLink="" title="Click Here to go to the Log In Page">Log In</a>.
          </p>
        </div>
      </div>
    </div>
  </form>
</div>